@tailwind base;
@tailwind components;
@tailwind utilities;

.cart__sidecontainer {
    z-index: -9999;
}

.cart__sidecontainer.show {
    z-index: 99;
}

.cart__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -449px;
    width: 448px;
    z-index: 99;
    transition: right 1s;
}

.cart__sidebar.show {
    right: 0px;
    z-index: 99;
}



